@media screen and (min-width: 1300px) {
    .toc {
        position: fixed;
        top: 80px;
        right: 20px;
        width: 250px;
        max-height: 80vh;
        overflow-y: auto;
        padding: 10px;
        background: var(--entry);
        border-radius: 8px;
        z-index: 99;
    }
}