.header{
    background-color: #f3f3f3;
    width:100%;
    float:left;
}  
.header img {
    width:10%;
    float:left;
    margin:2%;
}
.header h1 {
    font-size:40px;
    text-align:left;
    float:left;
}
.header h2 {
    font-size:20px;
    text-align:left;
    float:left;
    width:80%;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    float:left;
    width:100%;
}

.header li {
    float: right;
}

.header li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover:not(.active) {
    background-color: #3cf;
}